PORT=5000


DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_NAME=app_db


MONGO_URI=mongodb://localhost:27017/activityLog


KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=backend-app
KAFKA_TOPIC_POSTS=post-events
KAFKA_GROUP_ID=post-events-group
KAFKAJS_NO_PARTITIONER_WARNING=1


REDIS_URL=redis://127.0.0.1:6379


FRONTEND_ORIGIN=http://localhost:3000


JWT_ACCESS_SECRET=your_access_secret
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=your_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d


TWO_FA_EXPIRES_SECONDS=300
RESET_PASSWORD_EXPIRES_SECONDS=600


MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=[your_email@gmail.com](mailto:your_email@gmail.com)
MAIL_PASS=your_app_password
MAIL_FROM=[your_email@gmail.com](mailto:your_email@gmail.com)
